<div class="container my-4">
    <div class="row">

        <div class="col-md-6">
            <img class="border shadow-sm img-fluid" src="../../../../assets/img/mobile.jpg" alt="سیستم انتقال اطلاعات">
        </div>

        <div class="col-md-6">
            <div class="d-flex flex-column">

                <h1 class="h4 fw-bold pb-4 mb-0">
                    مشخصات محصول
                </h1>

                <div class="text-muted">

                    <ul>
                        <li> نام محصول </li>
                        <li> قیمت </li>
                        <li> مشخصات تکمیلی </li>
                    </ul>

                </div>

                <div class="d-flex justify-content-end mt-5">

                    <div class="pe-2">
                        <button type="button" class="btn btn-outline-danger px-5">حذف</button>
                    </div>

                    <div>
                        <button [routerLink]="['/newProdouct']"  type="button" class="btn btn-outline-success px-5">ویرایش</button>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>