<div class="container my-4">
    <div class="row">
        <div class="col-md-12">

            <h3 class="h5 text-black-50 text-h3"> مشخصات محصول:</h3>

            <div class="bg-light border p-5 rounded-1">
                <form>
                    <div class="row">

                        <div class="col-md-6 mb-3">

                            <label for="exampleInputEmail1" class="form-label small mb-0">
                                نام محصول
                            </label>

                            <input type="text" class="form-control form-control-sm" id="exampleInputEmail1"
                                aria-describedby="emailHelp">

                        </div>

                        <div class="col-md-6 mb-2">

                            <label for="catgouries" class="form-label text-nowrap small mb-0">
                                دسته بندی:
                            </label>

                            <select class="form-select form-select-sm w-100 mb-1 mb-sm-0" id="catgouries"
                                formControlName="seriValueType">
                                <option value="String"> عنوان </option>
                                <option value="String"> عنوان </option>
                                <option value="String"> عنوان </option>
                                <option value="String"> عنوان </option>

                            </select>

                        </div>

                        <div class="col-md-6 mb-3">

                            <label for="exampleInputPassword1" class="form-label small mb-0">
                                قیمت
                            </label>

                            <input type="text" class="form-control form-control-sm" id="exampleInputPassword1">

                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="form-label small mb-0">
                                ویژگی محصول:
                            </label>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea">
                                </textarea>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <img src="" class="img-responsive" alt="">
                            </div>
                        </div>


                        <div class="col-md-6 mb-3">

                            <label for="exampleInputPassword1" class="form-label small mb-0">
                                آدرس عکس
                            </label>

                            <input type="text" class="form-control form-control-sm" id="exampleInputPassword1">
                        </div>


                        <div class="col-md-6 mb-3">
                            <div class="text-center" style=" height: 213px;overflow: hidden;">
                                <img src="../../../assets/img/image.png" class="img-fluid" alt="">
                            </div>
                        </div>

                        <div class="col-12 text-end mt-3">
                            <button type="submit" class="btn btn-success px-5">
                                ثبت
                            </button>
                        </div>



                    </div>
                </form>
            </div>

        </div>
    </div>
</div>