<div class="container my-2">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-h3 text-center mb-5">دسته بندی ها</h3>

            <div class="row">

                <div class="col-md-2">
                    <a class="align-items-center d-flex flex-column mx-0-lg p-0-lg text-dark text-decoration-none w-100"
                        [routerLink]="['/products',1]">
                        <div title="" class="d-flex" style="width: 90px; height: 90px;">
                            <img class="w-100 h-100" src="../../../assets//img/catgories//1.png">
                        </div>
                        <div class="text-center">
                            <p>
                                عنوان
                            </p>
                        </div>
                    </a>
                </div>

                <div class="col-md-2">
                    <a class="align-items-center d-flex flex-column mx-0-lg p-0-lg text-dark text-decoration-none w-100"
                        href="">
                        <div title="" class="d-flex" style="width: 90px; height: 90px;">
                            <img class="w-100 h-100" src="../../../assets//img/catgories//1.png">
                        </div>
                        <div class="text-center">
                            <p>
                                عنوان
                            </p>
                        </div>
                    </a>
                </div>

                <div class="col-md-2">
                    <a class="align-items-center d-flex flex-column mx-0-lg p-0-lg text-dark text-decoration-none w-100"
                        href="">
                        <div title="" class="d-flex" style="width: 90px; height: 90px;">
                            <img class="w-100 h-100" src="../../../assets//img/catgories//1.png">
                        </div>
                        <div class="text-center">
                            <p>
                                عنوان
                            </p>
                        </div>
                    </a>
                </div>

                <div class="col-md-2">
                    <a class="align-items-center d-flex flex-column mx-0-lg p-0-lg text-dark text-decoration-none w-100"
                        href="">
                        <div title="" class="d-flex" style="width: 90px; height: 90px;">
                            <img class="w-100 h-100" src="../../../assets//img/catgories//1.png">
                        </div>
                        <div class="text-center">
                            <p>
                                عنوان
                            </p>
                        </div>
                    </a>
                </div>

                <div class="col-md-2">
                    <a class="align-items-center d-flex flex-column mx-0-lg p-0-lg text-dark text-decoration-none w-100"
                        href="">
                        <div title="" class="d-flex" style="width: 90px; height: 90px;">
                            <img class="w-100 h-100" src="../../../assets//img/catgories//1.png">
                        </div>
                        <div class="text-center">
                            <p>
                                عنوان
                            </p>
                        </div>
                    </a>
                </div>

                <div class="col-md-2">
                    <a class="align-items-center d-flex flex-column mx-0-lg p-0-lg text-dark text-decoration-none w-100"
                        href="">
                        <div title="" class="d-flex" style="width: 90px; height: 90px;">
                            <img class="w-100 h-100" src="../../../assets//img/catgories//1.png">
                        </div>
                        <div class="text-center">
                            <p>
                                عنوان
                            </p>
                        </div>
                    </a>
                </div>

                <div class="col-md-2">
                    <a class="align-items-center d-flex flex-column mx-0-lg p-0-lg text-dark text-decoration-none w-100"
                        href="">
                        <div title="" class="d-flex" style="width: 90px; height: 90px;">
                            <img class="w-100 h-100" src="../../../assets//img/catgories//1.png">
                        </div>
                        <div class="text-center">
                            <p>
                                عنوان
                            </p>
                        </div>
                    </a>
                </div>

                <div class="col-md-2">
                    <a class="align-items-center d-flex flex-column mx-0-lg p-0-lg text-dark text-decoration-none w-100"
                        href="">
                        <div title="" class="d-flex" style="width: 90px; height: 90px;">
                            <img class="w-100 h-100" src="../../../assets//img/catgories//1.png">
                        </div>
                        <div class="text-center">
                            <p>
                                عنوان
                            </p>
                        </div>
                    </a>
                </div>

                <div class="col-md-2">
                    <a class="align-items-center d-flex flex-column mx-0-lg p-0-lg text-dark text-decoration-none w-100"
                        href="">
                        <div title="" class="d-flex" style="width: 90px; height: 90px;">
                            <img class="w-100 h-100" src="../../../assets//img/catgories//1.png">
                        </div>
                        <div class="text-center">
                            <p>
                                عنوان
                            </p>
                        </div>
                    </a>
                </div>

                <div class="col-md-2">
                    <a class="align-items-center d-flex flex-column mx-0-lg p-0-lg text-dark text-decoration-none w-100"
                        href="">
                        <div title="" class="d-flex" style="width: 90px; height: 90px;">
                            <img class="w-100 h-100" src="../../../assets//img/catgories//1.png">
                        </div>
                        <div class="text-center">
                            <p>
                                عنوان
                            </p>
                        </div>
                    </a>
                </div>

                <div class="col-md-2">
                    <a class="align-items-center d-flex flex-column mx-0-lg p-0-lg text-dark text-decoration-none w-100"
                        href="">
                        <div title="" class="d-flex" style="width: 90px; height: 90px;">
                            <img class="w-100 h-100" src="../../../assets//img/catgories//1.png">
                        </div>
                        <div class="text-center">
                            <p>
                                عنوان
                            </p>
                        </div>
                    </a>
                </div>

                <div class="col-md-2">
                    <a class="align-items-center d-flex flex-column mx-0-lg p-0-lg text-dark text-decoration-none w-100"
                        href="">
                        <div title="" class="d-flex" style="width: 90px; height: 90px;">
                            <img class="w-100 h-100" src="../../../assets//img/catgories//1.png">
                        </div>
                        <div class="text-center">
                            <p>
                                عنوان
                            </p>
                        </div>
                    </a>
                </div>

            </div>


        </div>
    </div>
</div>