<section>

    <div>
        <nav class="py-3" style="background-color: #232f3e;">
            <div class="d-flex justify-content-between align-items-center">

                <div class="container-fluid">
                    <a class="navbar-brand fw-bold text-light" href="#">
                        فروشگاه
                        <span class="small text-danger">
                            مینی مارکت
                        </span>
                    </a>
                </div>

                <form>
                    <div class="input-group mb-3">
                        <input type="search" class="form-control" placeholder="" placeholder="جستجو..."
                            aria-label="Search">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon1">جستجو</button>
                    </div>
                </form>

            </div>
        </nav>

    </div>

    <div>
        <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarScroll">

                    <div>
                        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
                            style="--bs-scroll-height: 100px;">

                            <li class="nav-item dropdown">

                                <a class="nav-link" href="#" id="" role="button" (click)="toggleNav()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-list" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                                    </svg>
                                    دسته بندی ها
                                </a>

                                <ul class="dropdown-menu position-fixed shadow-lg show subMenu top-0 start-0 vh-100"
                                    [ngClass]="{'d-none': !toggleMenuState}" style="width: 278px; overflow: auto;">

                                    <div class="pe-2 text-end cursor-pointer mb-3" (click)="toggleNav()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                            <path
                                                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                                        </svg>
                                    </div>

                                    <li class="position-relative">

                                        <a class="dropdown-item d-flex justify-content-between" data-bs-toggle="collapse" href="#collapseExample2"
                                            role="button" aria-expanded="false" aria-controls="collapseExample2">

                                            عنوان یک

                                            <div>
                                                <svg _ngcontent-jnn-c641="" xmlns="http://www.w3.org/2000/svg" width="16" height="16"  fill="currentColor" viewBox="0 0 16 16" class="bi bi-chevron-left" ><path _ngcontent-jnn-c641="" fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path></svg>
                                            </div>
                                        </a>

                                        <ul id="collapseExample2"
                                            class="bg-light border-top list-inline p-2 rounded-0 rounded-1 collapse">

                                            <li>
                                                <a class="text-decoration-none text-dark" href="">
                                                    محصول
                                                </a>
                                            </li>

                                            <li>
                                                <a class="text-decoration-none text-dark" href="">
                                                    محصول
                                                </a>
                                            </li>

                                            <li>
                                                <a class="text-decoration-none text-dark" href="">
                                                    محصول
                                                </a>
                                            </li>
                                        </ul>

                                    </li>

                                    <li class="position-relative">

                                        <a class="dropdown-item" href="#">
                                            عنوان یک
                                        </a>

                                        <ul
                                            class="list-inline bg-white position-absolute p-2 rounded-1 shadow-sm start-100 w-100 top-0 d-none hoverMenu">

                                            <li>
                                                <a class="text-decoration-none text-dark" href="">
                                                    محصول
                                                </a>
                                            </li>

                                            <li>
                                                <a class="text-decoration-none text-dark" href="">
                                                    محصول
                                                </a>
                                            </li>

                                            <li>
                                                <a class="text-decoration-none text-dark" href="">
                                                    محصول
                                                </a>
                                            </li>
                                        </ul>

                                    </li>

                                    <li class="position-relative">

                                        <a class="dropdown-item" href="#">
                                            عنوان یک
                                        </a>

                                        <ul
                                            class="list-inline bg-white position-absolute p-2 rounded-1 shadow-sm start-100 w-100 top-0 d-none hoverMenu">

                                            <li>
                                                <a class="text-decoration-none text-dark" href="">
                                                    محصول
                                                </a>
                                            </li>

                                            <li>
                                                <a class="text-decoration-none text-dark" href="">
                                                    محصول
                                                </a>
                                            </li>

                                            <li>
                                                <a class="text-decoration-none text-dark" href="">
                                                    محصول
                                                </a>
                                            </li>
                                        </ul>

                                    </li>

                                </ul>

                            </li>

                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" routerLink="" routerLinkActive="active">
                                    صفحه اصلی
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" routerLink="/newProdouct" routerLinkActive="active">افزودن محصول</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">درباره ما</a>
                            </li>

                        </ul>
                    </div>

                    <div>
                        <a class="pe-3 text-decoration-none text-light" [routerLink]="['/login']"
                            routerLinkActive="active">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z" />
                                <path fill-rule="evenodd"
                                    d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                            </svg>
                            ورود
                        </a>
                    </div>

                </div>

            </div>
        </nav>
        <slider></slider>
    </div>

</section>